@import url('http://fonts.googleapis.com/css?family=Ubuntu');

* { 
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu' , sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0
}

.bg {
  background: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg') 
    no-repeat center center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: blur(0px)
}

.loading-text {
  font-size: 50px;
  color: #fff;
}